<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/">CMS</a>
    </div>

    <button class="navbar-toggle" (click)="toggleMenu()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-menu" [class.active]="isMenuOpen">
      <ng-container *ngIf="currentUser$ | async as currentUser; else guestMenu">
        <div class="menu-user">
          <img
            *ngIf="currentUser.profilePhoto"
            [src]="getImageUrl(currentUser.profilePhoto)"
            alt="Profile"
            class="user-avatar"
          />
          <mat-icon *ngIf="!currentUser.profilePhoto" class="user-placeholder"
            >account_circle</mat-icon
          >
          <div class="user-meta">
            <span class="user-name">{{ currentUser.fullName }}</span>
            <span class="user-email">{{ currentUser.email }}</span>
          </div>
        </div>

        <a routerLink="/profile" class="menu-link" (click)="onLinkClick()">
          <mat-icon>person</mat-icon>
          Profile
        </a>

        <ul class="navbar-nav" *ngIf="navItems$ | async as navItems">
          <li
            class="nav-item"
            *ngFor="let item of navItems; trackBy: trackByRoute"
          >
            <a
              class="nav-link"
              [routerLink]="item.route"
              routerLinkActive="active"
              (click)="onLinkClick()"
            >
              <mat-icon>{{ item.icon }}</mat-icon>
              {{ item.label }}
            </a>
          </li>
        </ul>

        <button (click)="logout()" class="menu-link logout">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </ng-container>

      <ng-template #guestMenu>
        <ul class="navbar-nav" *ngIf="navItems$ | async as navItems">
          <li
            class="nav-item"
            *ngFor="let item of navItems; trackBy: trackByRoute"
          >
            <a
              class="nav-link"
              [routerLink]="item.route"
              routerLinkActive="active"
              (click)="onLinkClick()"
            >
              <mat-icon>{{ item.icon }}</mat-icon>
              {{ item.label }}
            </a>
          </li>
        </ul>

        <div class="navbar-auth">
          <a routerLink="/login" class="btn btn-outline" (click)="onLinkClick()"
            >Login</a
          >
          <a
            routerLink="/register"
            class="btn btn-primary"
            (click)="onLinkClick()"
            >Register</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</nav>
