<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/">CMS</a>
    </div>

    <button class="navbar-toggle" (click)="toggleMenu()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-menu" [class.active]="isMenuOpen">
      <ul class="navbar-nav" *ngIf="navItems$ | async as navItems">
        <li
          class="nav-item"
          *ngFor="let item of navItems; trackBy: trackByRoute"
        >
          <a
            class="nav-link"
            [routerLink]="item.route"
            routerLinkActive="active"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </a>
        </li>
      </ul>

      <div class="navbar-user" *ngIf="currentUser$ | async as currentUser">
        <div class="user-dropdown">
          <button class="user-button" (click)="toggleDropdown()">
            <img
              *ngIf="currentUser.profilePhoto"
              [src]="getImageUrl(currentUser.profilePhoto)"
              alt="Profile"
              class="user-avatar"
            />
            <mat-icon *ngIf="!currentUser.profilePhoto"
              >account_circle</mat-icon
            >
            <span>{{ currentUser.fullName }}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <div class="dropdown-menu" [class.show]="isDropdownOpen">
            <a routerLink="/profile" class="dropdown-item">
              <mat-icon>person</mat-icon> Profile
            </a>
            <div class="dropdown-divider"></div>
            <button (click)="logout()" class="dropdown-item">
              <mat-icon>logout</mat-icon> Logout
            </button>
          </div>
        </div>
      </div>

      <div class="navbar-auth" *ngIf="!(currentUser$ | async)">
        <a routerLink="/login" class="btn btn-outline">Login</a>
        <a routerLink="/register" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</nav>
